{% extends 'main.html' %}
      
      
         {% block content %}
         <div  class="columns">
            <form class="form-container" method="POST" action="{{url_for('index')}}">
              <h3>Get In Touch</h3>
          
              {{ form.csrf_token }}
              <div class="input-group">
                <div><label for="name">Name</label></div>
                <div>
                  {{ form.name(class='form-control')}}
                    </div>
              </div>
        
              <div class="input-group">
                <div><label for="phone">Phone</label></div>
                <div>
                  {{ form.phone(class='form-control')}} 
                  </div>
              </div>
              <div class="input-group">
                <div>
                  <label for="message">Message</label>
                  </div>
                <div>
                  {{ form.message(class='form-control')}}
                </div>
              </div>
               <div class="input-group">
                  <div>
                    <button type="submit" class="btn btn-primary btn-sm">
                     Send
                  </button>
                    </div>
                </div>
            </form>
          </div> 

          {% endblock %}